{{#each show }}
<h3>{{this.name}}</h3>
<img src="{{this.image}}" alt="">
<p>Rating: {{this.rating}}</p>
<p>Summary: {{{this.summary}}}</p>
{{/each}}

<a href="/" class="btn btn-primary">Back to Main</a>
